/* http://twitter.github.com/bootstrap/examples/marketing-narrow.html */
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 30px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 90px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 20px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing h2 {
  text-align: center;
}


.nav-pills li small {
  margin-bottom: 2px;
  margin-top: 2px;
  padding-bottom: 8px;
  padding-top: 8px;

  line-height: 14px;
  margin-right: 2px;
  padding-left: 12px;
  padding-right: 12px;

  display: block;
}

.nav-pills li small i {
  vertical-align: middle;
}

.masthead h3 {
  display: none;
}

.header_ad {
  display: inline-block;
  margin-top: 10px;
}

.footer_ad {
  margin-left: -15px;
}
