<%- content_for(:title) { @title } -%>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<table class="table table-condensed table-striped table-hover">
<%- @specs.each do |spec| -%>
  <tr>
    <td><%= link_to(spec.name, spec.homepage) %></td>
    <td><%= Arigato::View.author(spec) %></td>
  </tr>
<%- end -%>
</table>

<hr />

</p>
  <a href="/" class="btn">Back to Home</a>
</p>
